<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="ReagentInformation" value="生殖健康=UU:0=CT:0=NG:0=MG:1-呼吸道疾病=MP:1=IAV:1-肠道微生物=EV71:0=EV:0=CA16:0"/>
    <add key="Language" value="English"/>
    <add key="Languages" value="English-中文"/>
    <add key="English" value="\RDS;component\Apps\Languages\en-US.xaml"/>
    <add key="中文" value="\RDS;component\Apps\Languages\zh-CN.xaml"/>
    <add key="Version" value="V1.0"/>
    <add key="DatabaseConnectionString" value="Data Source={0}\Apps\Database\Rds.db;Pooling=true;FailIfMissing=false"/>
    <add key="LisFilesPath" value="{0}\Apps\LisFiles\Barcode_{1}.xml"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Apps\Dlls"/>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
